<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documentacion de la API</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Documentacion de API</h1>
    <hr>
    <table>
        <tr><td>Nombre del servicio</td><td>Listar fincas</td></tr>
        <tr><td>Uri</td><td>http://localhost:3000/listar</td></tr>
        <tr><td>Descripcion</td><td>Permite al usuario listar a todas las fincas que se encuentren la base de datos</td></tr>
        <tr><td>Verbo HTTP</td><td>GET</td></tr>
        <tr><td>Header</td><td>Null</td></tr>
        <tr><td>Usuarios</td><td>Administrador</td></tr>
        <tr><td>Peticion JSON</td><td>""</td></tr>
        <tr><td>Respuesta JSON</td><td>
            Correcto:
            Status:200
            json:
            [
                {
            "codigo": 5,
            "dimension_mt2": "12.50",
            "fk_caficultor": 1029880306,
            "municipio": "patio bonito",
            "vereda": "acevedo",
            "estado": "activo"
                }
            ]
          <br>
          Incorrecto:
          Status:404
           JSON:{
            message:"no encontramos a ninguna finca"
           }
           <br>
           Error:
           Status:500
           JSON:{
            message:"error en el servidor"+error
           }
        </td></tr>
    </table>
    <hr>
    <table>
        <tr><td>Nombre del servicio</td><td>buscar finca</td></tr>
        <tr><td>Uri</td><td>http://localhost:3000/buscar/5</td></tr>
        <tr><td>Descripcion</td><td>Permite al administrador buscar a la finca por medio de su codigo</td></tr>
        <tr><td>Verbo HTTP</td><td>GET</td></tr>
        <tr><td>Header</td><td>Null</td></tr>
        <tr><td>Usuarios</td><td>Administrador</td></tr>
        <tr><td>Peticion JSON</td><td>""</td></tr>
        <tr><td>Respuesta JSON</td><td>
            Correcto:
            Status:200
            json:
            {
            "codigo": 5,
            "dimension_mt2": "12.50",
            "fk_caficultor": 1029880306,
            "municipio": "patio bonito",
            "vereda": "acevedo",
            "estado": "activo"
            }
          <br>
          Incorrecto:
          Status:404
           JSON:{
            message:"no encontramos a la finca"
           }
           <br>
           Error:
           Status:500
           JSON:{
            message:"error en el servidor"+error
           }
        </td></tr>
    </table>
    <hr>
    <table>
        <tr><td>Nombre del servicio</td><td>registrar finca</td></tr>
        <tr><td>Uri</td><td>http://localhost:3000/registrar</td></tr>
        <tr><td>Descripcion</td><td>Permite al administrador registrar nuevas fincas</td></tr>
        <tr><td>Verbo HTTP</td><td>POST</td></tr>
        <tr><td>Header</td><td>Null</td></tr>
        <tr><td>Usuarios</td><td>Administrador</td></tr>
        <tr><td>Peticion JSON</td><td>
            {
                "dimension_mt2": "24.50",
                "fk_caficultor": 876543210,
                "municipio": "nogales",
                "vereda": "quebrada",
                "estado": "activo"
              }
        </td></tr>
        <tr><td>Respuesta JSON</td><td>
            Correcto:
            Status:200
            json:{
            "message": "finca registrado correctamente"
            }
          <br>
          Incorrecto:
          Status:404
           JSON:{
            message:"no se pudo registrar correctamente"
           }
           <br>
           Error:
           Status:500
           JSON:{
            message:"error en el servidor"+error
           }
        </td></tr>
    </table>
    <hr>
    <table>
        <tr><td>Nombre del servicio</td><td>Desactivar Finca</td></tr>
        <tr><td>Uri</td><td>http://localhost:3000/desactivar/5</td></tr>
        <tr><td>Descripcion</td><td>Permite al administrador desactivar la finca</td></tr>
        <tr><td>Verbo HTTP</td><td>PUT</td></tr>
        <tr><td>Header</td><td>Null</td></tr>
        <tr><td>Usuarios</td><td>Administrador</td></tr>
        <tr><td>Peticion JSON</td><td>''</td></tr>
        <tr><td>Respuesta JSON</td><td>
            Correcto:
            Status:200
            json:{
                "message": "finca desactivada correctamente"
            }
          <br>
          Incorrecto:
          Status:404
           JSON:{
            message:"no se pudo desctivar correctamente"
           }
           <br>
           Error:
           Status:500
           JSON:{
            message:"error en el servidor"+error
           }
        </td></tr>
    </table>
    <hr>
    <table>
        <tr><td>Nombre del servicio</td><td>Actualizar Finca</td></tr>
        <tr><td>Uri</td><td>http://localhost:3000/actualizar/5</td></tr>
        <tr><td>Descripcion</td><td>Permite al administrador actualizar la finca</td></tr>
        <tr><td>Verbo HTTP</td><td>PATCH</td></tr>
        <tr><td>Header</td><td>Null</td></tr>
        <tr><td>Usuarios</td><td>Administrador</td></tr>
        <tr><td>Peticion JSON</td><td>
             {
                "dimension_mt2": "25.50"
              }
        </td></tr>
        <tr><td>Respuesta JSON</td><td>
            Correcto:
            Status:200
            json:{
                "message": "finca actualizada exitosamente"
            }
          <br>
          Incorrecto:
          Status:404
           JSON:{
            message:"no encontramos a nadie"
           }
           <br>
           Error:
           Status:500
           JSON:{
            message:"error en el servidor"+error
           }
        </td></tr>
    </table>
    <hr>
    <table>
        <tr><td>Nombre del servicio</td><td>Listar lotes</td></tr>
        <tr><td>Uri</td><td>http://localhost:3000/listar</td></tr>
        <tr><td>Descripcion</td><td>Permite al usuario listar a todas los lostes que se encuentren en la base de datos</td></tr>
        <tr><td>Verbo HTTP</td><td>GET</td></tr>
        <tr><td>Header</td><td>Null</td></tr>
        <tr><td>Usuarios</td><td>Todos</td></tr>
        <tr><td>Peticion JSON</td><td>""</td></tr>
        <tr><td>Respuesta JSON</td><td>
            Correcto:
            Status:200
            json:
            [
        {
            "codigo": 3,
             "numero_arboles": 300,
            "fk_finca": 5,
             "fk_variedad": 3,
            "estado": "activo"
        }
            ]
          <br>
          Incorrecto:
          Status:404
           JSON:{
            message:"no encontramos a ningun lote"
           }
           <br>
           Error:
           Status:500
           JSON:{
            message:"error en el servidor"+error
           }
        </td></tr>
    </table>
    <hr>
    <table>
        <tr><td>Nombre del servicio</td><td>buscar lote</td></tr>
        <tr><td>Uri</td><td>http://localhost:3000/buscar/3</td></tr>
        <tr><td>Descripcion</td><td>Permite al administrador buscar el lote por medio de su codigo</td></tr>
        <tr><td>Verbo HTTP</td><td>GET</td></tr>
        <tr><td>Header</td><td>Null</td></tr>
        <tr><td>Usuarios</td><td>Administrador</td></tr>
        <tr><td>Peticion JSON</td><td>""</td></tr>
        <tr><td>Respuesta JSON</td><td>
            Correcto:
            Status:200
            json:
                [
                {
                  "codigo": 3,
                  "numero_arboles": 300,
                  "fk_finca": 5,
                  "fk_variedad": 3,
                  "estado": "activo"
                }
              ]
          <br>
          Incorrecto:
          Status:404
           JSON:{
            message:"no se encontro ningun lote"
           }
           <br>
           Error:
           Status:500
           JSON:{
            message:"error en el servidor"+error
           }
        </td></tr>
    </table>
    <hr>
    <table>
        <tr><td>Nombre del servicio</td><td>registrar lote</td></tr>
        <tr><td>Uri</td><td>http://localhost:3000/registrar</td></tr>
        <tr><td>Descripcion</td><td>Permite al administrador registrar nuevos lotes</td></tr>
        <tr><td>Verbo HTTP</td><td>POST</td></tr>
        <tr><td>Header</td><td>Null</td></tr>
        <tr><td>Usuarios</td><td>Administrador</td></tr>
        <tr><td>Peticion JSON</td><td>
            {
                "numero_arboles": 100,
                "fk_finca":7,
                "fk_variedad": 4,
                "estado": 1
              }
        </td></tr>
        <tr><td>Respuesta JSON</td><td>
            Correcto:
            Status:200
            json:{
            "message": "lote registrado correctamente"
            }
          <br>
          Incorrecto:
          Status:404
           JSON:{
            message:"no se pudo registrar correctamente"
           }
           <br>
           Error:
           Status:500
           JSON:{
            message:"error en el servidor"+error
           }
        </td></tr>
    </table>
    <hr>
    <table>
        <tr><td>Nombre del servicio</td><td>Desactivar lote</td></tr>
        <tr><td>Uri</td><td>http://localhost:3000/desactivar/3</td></tr>
        <tr><td>Descripcion</td><td>Permite al administrador desactivar el lote</td></tr>
        <tr><td>Verbo HTTP</td><td>PUT</td></tr>
        <tr><td>Header</td><td>Null</td></tr>
        <tr><td>Usuarios</td><td>Administrador</td></tr>
        <tr><td>Peticion JSON</td><td>''</td></tr>
        <tr><td>Respuesta JSON</td><td>
            Correcto:
            Status:200
            json:{
                "message": "lote desactivado exitosamente"
            }
          <br>
          Incorrecto:
          Status:404
           JSON:{
            message:"no encontramos a nadie"
           }
           <br>
           Error:
           Status:500
           JSON:{
            message:"error en el servidor"+error
           }
        </td></tr>
    </table>
    <hr>
    <table>
        <tr><td>Nombre del servicio</td><td>Actualizar Lotes</td></tr>
        <tr><td>Uri</td><td>http://localhost:3000/actualizar/3</td></tr>
        <tr><td>Descripcion</td><td>Permite al administrador actualizar el lote</td></tr>
        <tr><td>Verbo HTTP</td><td>PATCH</td></tr>
        <tr><td>Header</td><td>Null</td></tr>
        <tr><td>Usuarios</td><td>Administrador</td></tr>
        <tr><td>Peticion JSON</td><td>
            {
                "numero_arboles":500
              }
        </td></tr>
        <tr><td>Respuesta JSON</td><td>
            Correcto:
            Status:200
            json:{
                "message": "lote actualizado exitosamente"
            }
          <br>
          Incorrecto:
          Status:404
           JSON:{
            message:"no encontramos ningun lote"
           }
           <br>
           Error:
           Status:500
           JSON:{
            message:"error en el servidor"+error
           }
        </td></tr>
    </table>
</body>
</html>